


.main-title{
  position: relative;
  font-size: 60px;
  text-transform: uppercase;
  margin:0;
  font-weight: 400;
  font-family: 'Lato';
}

.thin-header{
  font-weight: 200;
}

.desc-header{
  position: relative;
  font-size: 37px;
    //color: #e0dfdc;
    font-family: Lato;
    font-weight: 400;
    letter-spacing: 0.1em;
    margin-bottom: 30px;
}


.get-started-container{
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Lato';
    text-align: center;
}

  
  a.btn-get-started {
    position: relative;
    color:white;
    margin-bottom: 170px;
    text-decoration:none;
    -webkit-transition:0.3s all ease;
    transition:0.3s ease all;
    &:hover {
      color:#333;
    }
    &:focus {
      color:#333;
    }
  }
  
  

  
  .btn-get-started {
    font-size:18px;
    letter-spacing:2px;
    text-transform:uppercase;
    display:inline-block;
    text-align:center;
    width:270px;
    font-weight:bold;
    padding:14px 0px;
    border:3px solid white;
    border-radius:2px;
    position:relative;
    box-shadow: 0 2px 10px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.1);
    z-index:2;
    &:before {
      -webkit-transition:0.5s all ease;
      transition:0.5s all ease;
      position:absolute;
      top:0;
      left:50%;
      right:50%;
      bottom:0;
      opacity:0;
      content:'';
      background-color:white;
      z-index:-1;
    }
    &:hover {
      &:before {
        -webkit-transition:0.5s all ease;
        transition:0.5s all ease;
        left:0;
        right:0;
        opacity:1;
      }
    }
    &:focus {
      &:before {
        -webkit-transition:0.5s all ease;
        transition:0.5s all ease;
        left:0;
        right:0;
        opacity:1;
      }
    }
  }


  @keyframes header-show{
    0%{
      top: -600px;
    }
    100%{
      top: 0;
      opacity: 1;
    }
  }

  @keyframes desc-show{
    0%{
      right: -600px;
    }
    100%{
      right: 0;
      opacity: 1;
    }
  }

  @keyframes btn-show{
    0%{
      bottom: -600px;
    }
    100%{
      bottom: 0;
      opacity: 1;
    }
  }

  .anim-home-el-1{
    opacity: 0;
    animation: header-show 1s ease-in 1 forwards;
    //animation-delay: 166ms;
   animation-delay: 250ms;

  }

  .anim-home-el-2{
    opacity: 0;
    animation: desc-show 1s ease-in 1 forwards;
    //animation-delay: 332ms;
    //animation-delay: 166ms;
   animation-delay: 250ms;


  }
  .anim-home-el-3{
    opacity: 0;
    animation: btn-show 1s ease-in 1 forwards;
    //animation-delay: 332ms;
   // animation-delay: 300ms;
   animation-delay: 250ms;

  }


//   .anim-flip{

//     animation-name: desc-show;
//     animation-duration: 1s;
//     animation-timing-function: ease-in;
//     animation-iteration-count: 1;
//     animation-fill-mode: forwards;
// }

// .anim-flip-card-0{
//     animation-delay: 166ms;
// }
// .anim-flip-card-1{
//     animation-delay: 332ms;
// }
// .anim-flip-card-2{
//     animation-delay: 498ms;
// }
// .anim-flip-card-3{
//     animation-delay: 664ms;
// }
// .anim-flip-card-4{
//     animation-delay: 830ms;
// }



@media screen and (max-width: 660px) {
  .main-title{
    font-size: 48px;
  }
  
  .desc-header{
   font-size: 30px;
  padding: 0;
  margin: 0 0 15px 0;
}
.btn-get-started{
  font-size: 15px;
  width: 220px;
  padding: 11px 0;
}
}


@media screen and (max-width: 530px) {
  .main-title{
    font-size: 38px;
  }
  
  .desc-header{
   font-size: 24px;
}
.btn-get-started{
  font-size: 12px;
  width: 176px;
  padding: 9px 0;
}
}
